name: Forge
on: [push, workflow_dispatch]
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - name: Build
        run: |
          git clone https://github.com/AntiRootkit/exploit-database sd
          python3 -c "
import sqlite3, csv
c = sqlite3.connect('duck_base.db')
cursor = c.cursor()
cursor.execute('CREATE TABLE IF NOT EXISTS exploits (id INTEGER PRIMARY KEY, file TEXT, description TEXT, date TEXT, author TEXT, platform TEXT, type TEXT, port INTEGER)')
with open('sd/files_exploits.csv', mode='r', encoding='utf-8') as f:
    r = csv.DictReader(f)
    data = [(i['id'], i['file'], i['description'], i['date'], i['author'], i['platform'], i['type'], i['port']) for i in r]
cursor.executemany('INSERT INTO exploits VALUES (?,?,?,?,?,?,?,?);', data)
c.commit()
c.close()"
      - name: Push
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          mkdir -p data
          mv duck_base.db data/
          git add data/duck_base.db
          git commit -m "Forge Update" || exit 0
          git push
